
/target/
*.class
*.jar
*.war
*.ear

# Logs
*.log


.idea/
*.iml
*.iws
out/


.DS_Store
Thumbs.db


*.swp
*~
*.bak
*.tmp

**/docker-compose.override.yml
**/.docker/
**/docker-data/
**/data/
**/tmp/


**/*.tar
**/*_db_data/
**/postgres-data/
**/mysql-data/
**/mariadb-data/
**/kafka-logs/
**/zookeeper-data/
**/zookeeper-log/
**/node_modules/

# ===================================
# Maven
# ===================================
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties


.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

